



.product{
    text-align: center;
    margin : 20px;
    padding : 20px;
    background-color: rgb(238, 240, 242);
    border: 2px solid rgb(217, 207, 207);
    border-radius: 14px;
    color :rgb(43, 29, 13)
    

}
